.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.login-box {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.title-box h3 {
    margin: 0;
    display: flex;
    align-items: center;
}